* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* body {
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: radial-gradient(circle, rgba(52,61,52,1) 100%, rgba(148,43,185,1) 100%);
}

.box {
    background: rgb(85,131,228);
    background: linear-gradient(315deg, rgba(85,131,228,1) 9%, rgba(33,236,71,1) 100%);
    width: 550px;
    height: 550px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.inputfeildscontainer{
    display: flex;
    height: 9%;
    width: 95%;
    border-radius: 15px;
    gap: 16px;
    /* background-color: beige; */
}
.searchbar1{
    display: flex;
    height: 100%;
    width: 44%;
    border-radius: 45px;
    /* background-color: beige; */
}
#searchbarfeild1{
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 45px;
    background-color: rgb(237, 236, 236);
    text-align: center;
    font-size: smaller;
}
.rervese{
    margin-top: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px; 
    width: 34px; 
    border-radius: 50%;
    /* background-color: beige;  */ 
    overflow: hidden;
    position: relative;
}
.rervese button{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    cursor: pointer; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.rervese img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: absolute;
}
.searchbar2{
    display: flex;
    height: 100%;
    width: 44%;
    border-radius: 45px;
    /* background-color: beige; */
}
#searchbarfeild2{
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 45px;
    background-color: rgb(237, 236, 236);
    text-align: center;
    font-size: smaller;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px; 
    width: 50px; 
    border-radius: 50%;
    /* background-color: beige;  */
    overflow: hidden;
    position: relative;
}
.search button{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    cursor: pointer; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.search img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: absolute;
}
.searchcontainer{
    display: flex;
    justify-content: center;
    height: 9%;
    width: 95%;
    border-radius: 15px;
    gap: 16px;
    margin-top: 15px;
}
.maincontainer{
    display: flex;
    margin-top: 25px;
    background-color:wheat;
    height: 55%;
    width: 100% ;
    flex-direction: column;
}
.countryflagscontainer{
    display: flex;
    background-color:rgb(18, 186, 37);
    height: 44%;
    width: 100% ;
    gap: 3rem;
}
.flag1{
    display: flex;
    height: 100%;
    width: 35% ;
    border-radius: 11px;
    background-color: aqua;
    margin-left: 25px;
    /* justify-content: space-around; */
}
.flag2{
    display: flex;
    height: 100%;
    width: 35% ;
    border-radius: 11px;
    background-color: aqua;
    /* justify-content: space-around; */
}
.liveexchangerate{
    display: flex;
    Width: 100%;
    Height: 5rem;
    Text-align: center;
    Font-size: 1.5rem;
    background-color: black;
    font-weight: bold;
    margin: 10px 0;
}
.inputfeildformoneyconversion{
    Display: flex;
    flex-direction: row;
    Justify-content: space-between;
    Width: 100%;
    height:4.8rem ;
    background-color: azure;
}
.inputvaluecontainer{
    display: flex;
    width: 150px;
    padding: 8px;
    border-radius: 5px;
    font-size: 1rem;
}
.update{
    width: 300px;
    padding: 8px;
    border-radius: 5px;
    font-size: 9rem;
}
.inputvalue{
    width: 150px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}
.updatevalue{
    font-size: 1.2rem;
    font-weight: bold;
    color: #00ff99;
    background: #222;
    padding: 15px 12px;
    border-radius: 5px;
}
.botomsection{
    Width: 100%;
    Height: 30%;
    Margin-top: 10px;
    Display: flex;
    Justify-content: space-between;
    Gap: 2rem;
    background-color: brown;
}
